<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Alueet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <div>
            <a th:href="@{~/}" th:text="Päivitä"></a>
            <a th:text="Alueet"></a>
        </div>
        
        <p> </p>
        
        <table style="width:100%" align="left">
        <tr>
            <td><b>Alue</b></td>
            <td><b>Viestejä</b></td> 
            <td><b>Aika</b></td>
        </tr>
        <tr th:each="alue: ${alueet}">
          <td><a th:href="@{~/{alue}(alue=${alue.alue})}" th:text="${alue.alue}">aluelinkki</a></td>
          <td th:text="${alue.mr}">maara</td>
          <td th:text="${alue.time}"></td>
        </tr>

      </table>
        
        <form method="POST" action="/">
            <input type="text" name="uusialue"/>
            <input type="submit" value="Uusi alue"/>
        </form>
        
        
    </body>
</html>