<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Langat</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${alue}"></h1>
        
        <table style="width:100%">
        <tr>
          <th>Langat</th>
          <th>Viestejä</th> 
          <th>Uusin</th>
        </tr>
        <tr th:each="lanka: ${langat}">
          <td><a th:href="@{~/{alue}(alue=${alue.alue})/{otsikko}(otsikko=${lanka.otsikko})}" th:text="${lanka.otsikko}">lankalinkki</a></td>
          <td th:text="${lanka.mr}">maarat</td>
          <td th:text="--aika--"></td>
        </tr>

      </table>
        
        <form method="POST">
            <input type="text" name="uusilanka"/>
            <input type="submit" value="Uusi lanka"/>
        </form>
        
    </body>
</html>