<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <div>
            <a th:href="@{~/{alue}/{otsikko} (alue=${alue}, otsikko=${lanka})}" th:text="Päivitä"></a>
            <a th:href="@{~/}" th:text="Alueet"></a>
            <a th:href="@{~/{alue} (alue=${alue})}" th:text="${alue}"></a>
        </div>
        
        <h1 th:text="${lanka}"></h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Viesti</th>
                    <th>Lähettäjä</th>
                    <th>Aika</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="viesti:${viestit}">
                    <th th:text="${viesti.teksti}"></th>
                    <th th:text="${viesti.lahettaja}"></th>
                    <th th:text="${viesti.aika}"></th>
                </tr>
            </tbody>
        </table>
        
        
        <form method="POST">
            <input type="text" name="uusiviesti"/>
            <input type="text" name="lahettaja" value="Default"/>
            <input type="submit" value="Uusi viesti"/>
        </form>
        
    </body>
</html>