<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestit</title>
        <meta charset="utf-8" />
    </head>

    <body>
   
        <div>
            <a th:href="@{~/{alue}/{otsikko} (alue=${alue}, otsikko=${lanka})}" th:text="Päivitä"></a>
            <a th:href="@{~/}" th:text="Alueet"></a>
            <a th:href="@{~/{alue} (alue=${alue})}" th:text="${alue}"></a>
            <a th:text="${lanka}"></a>
        </div>
        
        <p> </p>
        
        <table style="width:100%" align="left">
            <tr>
              <td><b>Viesti</b></td>
              <td><b>Lähettäjä</b></td> 
              <td><b>Aika</b></td>
            </tr>
            
            <tr th:each="viesti:${viestit}">
                <td th:text="${viesti.teksti}"></td>
                <td th:text="${viesti.lahettaja}"></td>
                <td th:text="${viesti.aika}"></td>
            </tr>

        </table>
                
        <form method="POST">
            <input type="text" name="uusiviesti"/>
            <input type="text" name="lahettaja" value="Default"/>
            <input type="submit" value="Uusi viesti"/>
        </form>
        
    </body>
</html>